<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submission.email %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @submission.mobile_phone %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @submission.resume %>
</p>

<p>
  <strong>Job:</strong>
  <%= @submission.job_id %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
